<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-lg">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item" *ngIf="authenticated">
            <!-- <a class="nav-link" href="#" (click)="onSelect('nav-recipe')">Recipes</a> -->
            <!-- NB: could just pass a string straight to onSelect as below -->

            <!-- This was used before routing was implemented, routing was done using event emitting and ngIf -->
            <!-- <a class="nav-link" href="#" (click)="onSelect($event)">Recipes</a> -->

            <!-- NB must remove href below or server will reload page everytime -->
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/recipes']">Recipes</a>

          </li>

          <li routerLinkActive="active" *ngIf="!authenticated">
            <a class="nav-link" routerLink="/authorize">Login</a>
          </li>

          <li class="nav-item" *ngIf="authenticated">
            <!-- This was used before routing was implemented, routing was done using event emitting and ngIf -->
            <!-- <a class="nav-link" href="#" (click)="onSelect($event)">Shopping List</a> -->

            <a class="nav-link" routerLinkActive="active" [routerLink]="['/shopping-list']">Shopping List</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" *ngIf="authenticated">
            <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
          </li>
            <li class="nav-item dropdown" *ngIf="authenticated">
                <a appDropdown class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
                </a>
                <ul class="dropdown-menu ms-auto" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSave()">Save</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetch()">Fetch</a></li>
                </ul>
            </li>
        </ul>
      </div>
    </div>
  </nav>