<div class='row'>
    <div class='col-sm-12'>
        <form (ngSubmit)="onSubmit()" #ingredientForm="ngForm">
            <div class='row'>
                <div class='col-sm-5 form-group'>
                    <label for="name"><strong>Name</strong></label>
                    <input type="text" class='form-control' id='name' ngModel name="ingredientName" required>
                </div>
                <div class='col-sm-2 form-group'>
                    <label for="amount"><strong>Amount</strong></label>
                    <!-- Note: pattern id a built in validator that takes a regular expression (regex pattern) as value -->
                    <input type="number" class='form-control' id='amount' ngModel name="ingredientAmount" required [pattern]="'^[1-9]+[0-9]*$'">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">

                    <button type="submit" class='btn btn-success m-1' *ngIf="!editMode" [disabled]="ingredientForm.invalid">Add</button>
                    <button type="submit" class='btn btn-success m-1' *ngIf="editMode" [disabled]="ingredientForm.invalid">Update</button>
                    <button type="button" (click)="onDelete()" class='btn btn-danger m-1' *ngIf = "editMode">Delete</button>
                    <button type="button" (click)="onClearForm()" class='btn btn-primary m-1'>Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
